extends layout

block includes
  title Definition Quiz - Discere
  link(rel='stylesheet', href='/stylesheets/definition_quiz.css')
  script(type='text/javascript' src='/javascripts/definition_quiz.js')

block content
  .wide-content
    script(type='text/javascript').
      var answers = !{JSON.stringify(words)}
    h1 Definitions
    table#quizform
      each word, index in words
        tr
          form(onsubmit="return checkDefinition(answers, " + index + ")")
            td.word
              = word.header
            td
              input(type="text", 'autocomplete'='off', 'autofocus'= (index === 0), id="input" + index)
            td(class="img", id="img" + index)
              img.wrong(src='/images/cross.svg')
              img.right(src='/images/checkmark.svg')
            td.answer
              div(id="answer" + index)
    form(onsubmit="location.reload()")
      #submitter-div
        input#submitter(type="submit" value="Next Page")
