doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/vocab_cookie.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block includes
  body
    block content
