
span Vocabulary Level:
form
  select(onchange='vocabCookie.set(this.value)')
    if vocabularies
      each v in vocabularies
        if (v.id == vocab_value)
          option(value=v.id selected)= v.title
        else
          option(value=v.id)= v.title
