ol.quizlist {
  line-height: 1.5;
  list-style-type: lower-roman;
  list-style-position: outside;
  margin-left: 2em;
}

span.question {
  display: inline-block;
  width: 40%;
  font-weight: bold;
  vertical-align: top;
}

span.word {
  display: inline-block;
  width: 40%;
  font-weight: bold;
  vertical-align: top;
}

span.answer {
  display: inline-block;
  min-width: 50%;
  vertical-align: top;
}

input[type="text"] {
  -webkit-appearance: none;
  border: #554444 solid 1px;
  padding: 0;
  margin: 0;
}
  
input[type="text"]:focus {
  border: #554444 solid 1px;
  padding: 0;
  margin: 0;
  outline: #eeaa44 solid 3px;
  outline-offset: 0px;
}

span.highlight {
  background-color: #eeaa44;
}

div.img-container {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

img.right {
  display: none;
}

img.wrong {
  display: none;
}

div.img-wrong img.wrong {
  display: inline;
  height: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
  vertical-align: text-top;
}

div.img-right img.right {
  display: inline;
  height: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
  vertical-align: text-top;
}

div#submitter-div {
  padding-top: 0.5em;
}

input#submitter {
  margin-left: 10px;
  padding: 2px;
}
